@import scala.collection.immutable.List
@import imadz.model.gen.tables.pojos.Data

@(datas: List[Data])

@main("Welcome to PlayJooq Demo") {
<script type='text/javascript'
        src='@routes.Assets.at("javascripts/jquery.json.min.js")'></script>
<script type='text/javascript'
        src='@routes.Assets.at("javascripts/contact.js")'></script>
<table class="table table-striped">
    <thead>
    <tr class="row">
        <th class="col-xs-2">Organization Name</th>
        <th class="col-xs-2">Table Name</th>
        <th class="col-xs-1">Object Seq</th>
        <th class="col-xs-1">First Name</th>
        <th class="col-xs-1">Last Name</th>
        <th class="col-xs-3">Email</th>
        <th class="col-xs-2">Actions</th>
    </tr>
    </thead>
    <tbody>
    @for(data <- datas) {
    <tr id="row_@data.getOrgId()_@data.getTableId()_@data.getObjectId()" class="row">
        <td class="col-xs-2">@data.getOrgId()</td>
        <td class="col-xs-2">@data.getTableId()</td>
        <td class="col-xs-1">@data.getObjectId()</td>
        <td class="col-xs-1">
            <label id="firstName_@data.getOrgId()_@data.getTableId()_@data.getObjectId()">
            @data.getCol_1()
            </label>
        </td>
        <td class="col-xs-1">
            <label id="lastName_@data.getOrgId()_@data.getTableId()_@data.getObjectId()">
            @data.getCol_2()
            </label>
        </td>
        <td class="col-xs-3">
            <label id="email_@data.getOrgId()_@data.getTableId()_@data.getObjectId()">
            @data.getCol_3()
            </label>
        </td>
        <td class="col-xs-2">
            <div id="actions_@data.getOrgId()_@data.getTableId()_@data.getObjectId()">
                <div class="minibutton ok"
                     onclick="javascript:window.editContact('@data.getOrgId', '@data.getTableId', '@data.getObjectId')">Edit
                </div>
            </div>
        </td>
    </tr>
    }
    </tbody>
</table>

}
